docker/mbm/mbm.json
[
    {
        "id": "ca63b1c350ed221d",
        "type": "tab",
        "label": "ModbusTCP Master",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6e952005bbfc061",
        "type": "modbus-write",
        "z": "ca63b1c350ed221d",
        "name": "WR_HR0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "1349976470c5c413",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 780,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "28556528e53ade52",
        "type": "inject",
        "z": "ca63b1c350ed221d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "989829df7c163862"
            ]
        ]
    },
    {
        "id": "989829df7c163862",
        "type": "random",
        "z": "ca63b1c350ed221d",
        "name": "",
        "low": 1,
        "high": "20",
        "inte": "true",
        "property": "payload",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "e6e952005bbfc061"
            ]
        ]
    },
    {
        "id": "c7f699555f4bd966",
        "type": "modbus-write",
        "z": "ca63b1c350ed221d",
        "name": "WR_HR1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "1349976470c5c413",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 780,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "94997e9f67ff721f",
        "type": "inject",
        "z": "ca63b1c350ed221d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "fca94f5747f944d8"
            ]
        ]
    },
    {
        "id": "fca94f5747f944d8",
        "type": "random",
        "z": "ca63b1c350ed221d",
        "name": "",
        "low": 1,
        "high": "20",
        "inte": "true",
        "property": "payload",
        "x": 540,
        "y": 380,
        "wires": [
            [
                "c7f699555f4bd966"
            ]
        ]
    },
    {
        "id": "f3eef98252576ef6",
        "type": "modbus-write",
        "z": "ca63b1c350ed221d",
        "name": "WR_HR2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "1",
        "server": "1349976470c5c413",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 780,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "097135f06c3b9cc3",
        "type": "inject",
        "z": "ca63b1c350ed221d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "3525b3c30a93a3e7"
            ]
        ]
    },
    {
        "id": "3525b3c30a93a3e7",
        "type": "random",
        "z": "ca63b1c350ed221d",
        "name": "",
        "low": 1,
        "high": "20",
        "inte": "true",
        "property": "payload",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "f3eef98252576ef6"
            ]
        ]
    },
    {
        "id": "551746b65157cca3",
        "type": "modbus-write",
        "z": "ca63b1c350ed221d",
        "name": "WR_HR3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "1",
        "server": "1349976470c5c413",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 780,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "410f568944f10fc7",
        "type": "inject",
        "z": "ca63b1c350ed221d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "b30bc52ffa9e8aec"
            ]
        ]
    },
    {
        "id": "b30bc52ffa9e8aec",
        "type": "random",
        "z": "ca63b1c350ed221d",
        "name": "",
        "low": 1,
        "high": "20",
        "inte": "true",
        "property": "payload",
        "x": 540,
        "y": 540,
        "wires": [
            [
                "551746b65157cca3"
            ]
        ]
    },
    {
        "id": "4129aadc0a707a71",
        "type": "comment",
        "z": "ca63b1c350ed221d",
        "name": "HR0",
        "info": "",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "d725cd8a71294005",
        "type": "comment",
        "z": "ca63b1c350ed221d",
        "name": "HR1",
        "info": "",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "de7daf487d2519e4",
        "type": "comment",
        "z": "ca63b1c350ed221d",
        "name": "HR2",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "ba866010febb40c1",
        "type": "comment",
        "z": "ca63b1c350ed221d",
        "name": "HR3",
        "info": "",
        "x": 170,
        "y": 540,
        "wires": []
    },
    {
        "id": "67027ec1b1c6cdba",
        "type": "modbus-write",
        "z": "ca63b1c350ed221d",
        "name": "WR_C0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "1349976470c5c413",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1620,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6e00d12d58c2197d",
        "type": "inject",
        "z": "ca63b1c350ed221d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "e8a5ff886af825e5"
            ]
        ]
    },
    {
        "id": "e8a5ff886af825e5",
        "type": "random",
        "z": "ca63b1c350ed221d",
        "name": "",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 1380,
        "y": 280,
        "wires": [
            [
                "67027ec1b1c6cdba"
            ]
        ]
    },
    {
        "id": "ab7ff1e2a8669ea1",
        "type": "modbus-write",
        "z": "ca63b1c350ed221d",
        "name": "WR_C1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "1349976470c5c413",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1620,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fe5218a89324484f",
        "type": "inject",
        "z": "ca63b1c350ed221d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1150,
        "y": 380,
        "wires": [
            [
                "6a3f8f176b16d80b"
            ]
        ]
    },
    {
        "id": "6a3f8f176b16d80b",
        "type": "random",
        "z": "ca63b1c350ed221d",
        "name": "",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 1380,
        "y": 380,
        "wires": [
            [
                "ab7ff1e2a8669ea1"
            ]
        ]
    },
    {
        "id": "e5f01b4dafc8f2c5",
        "type": "modbus-write",
        "z": "ca63b1c350ed221d",
        "name": "WR_C2",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "1",
        "server": "1349976470c5c413",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1620,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9dfb3d48b48d55f0",
        "type": "inject",
        "z": "ca63b1c350ed221d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1150,
        "y": 460,
        "wires": [
            [
                "bf6e79d172155132"
            ]
        ]
    },
    {
        "id": "bf6e79d172155132",
        "type": "random",
        "z": "ca63b1c350ed221d",
        "name": "",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 1380,
        "y": 460,
        "wires": [
            [
                "e5f01b4dafc8f2c5"
            ]
        ]
    },
    {
        "id": "172ccbfdf9b05152",
        "type": "modbus-write",
        "z": "ca63b1c350ed221d",
        "name": "WR_C3",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "1349976470c5c413",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1620,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "242a0ef22ae37d81",
        "type": "inject",
        "z": "ca63b1c350ed221d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1150,
        "y": 540,
        "wires": [
            [
                "cbf73720905faae6"
            ]
        ]
    },
    {
        "id": "cbf73720905faae6",
        "type": "random",
        "z": "ca63b1c350ed221d",
        "name": "",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 1380,
        "y": 540,
        "wires": [
            [
                "172ccbfdf9b05152"
            ]
        ]
    },
    {
        "id": "96625438143c8818",
        "type": "comment",
        "z": "ca63b1c350ed221d",
        "name": "C0",
        "info": "",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "6d7099460c716b4c",
        "type": "comment",
        "z": "ca63b1c350ed221d",
        "name": "C1",
        "info": "",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "1eeb3e415a71355e",
        "type": "comment",
        "z": "ca63b1c350ed221d",
        "name": "C2",
        "info": "",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "6b50bc4bc51a229e",
        "type": "comment",
        "z": "ca63b1c350ed221d",
        "name": "C3",
        "info": "",
        "x": 990,
        "y": 540,
        "wires": []
    },
    {
        "id": "ad1fe7ded5d5e2ac",
        "type": "modbus-write",
        "z": "ca63b1c350ed221d",
        "name": "WR_C4",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "4",
        "quantity": "1",
        "server": "1349976470c5c413",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1080,
        "y": 1000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2721b287f9842ae3",
        "type": "inject",
        "z": "ca63b1c350ed221d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 610,
        "y": 1000,
        "wires": [
            [
                "1633514d7320a02b"
            ]
        ]
    },
    {
        "id": "1633514d7320a02b",
        "type": "random",
        "z": "ca63b1c350ed221d",
        "name": "",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 840,
        "y": 1000,
        "wires": [
            [
                "ad1fe7ded5d5e2ac"
            ]
        ]
    },
    {
        "id": "2070d3aa71c6e23e",
        "type": "comment",
        "z": "ca63b1c350ed221d",
        "name": "C3",
        "info": "",
        "x": 1250,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1349976470c5c413",
        "type": "modbus-client",
        "name": "localhost",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.30.20",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    }
]
